.navigation {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  &__item {
    margin: 0 2rem;
  }

  &__link {
    text-decoration: none;
    color: $color-body-text;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: all 0.15s ease-in-out;

    &:hover,
    &:focus {
      color: $color-primary;
    }
  }
}
