@import "../variables.scss";

.product-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 4rem 1rem 2rem;
}

.product-image,
.product-info {
  max-width: calc(50% - 1rem);
  flex: 1 1 calc(50% - 1rem);
}

.product-info {
  padding: 0 1rem;
  margin-left: 1rem;
}

.product-thumbnails {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  padding: 0;
}

.product-thumbnail {
  display: block;
  margin: 0 0.5rem;
  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  a {
    display: block;
    &[aria-current="true"] {
      box-shadow: 0 0 0 1px $color-body-text;
    }
    img {
      display: block;
    }
  }
}

.product-label {
  display: block;
  margin-bottom: 0.25rem;
}

.product-options {
  margin: 0 0 2rem;
}

.product-option {
  display: none;
}

.product-option-label {
  background: white;
  box-shadow: inset 0 0 0 2px rgb(235, 240, 241);
  padding: 0.5rem 1rem;
  width: fit-content;
  margin-right: 1rem;
  border-radius: 4px;
  transition: all 0.15s ease-in-out;

  &:hover,
  &:focus {
    outline: 0;
    background: rgb(235, 240, 241);
  }
}

.product-option {
  &.is-active {
    .product-option-label {
      background: rgb(199, 204, 206);
    }
  }
}

.product-variant-select {
  font-size: 1rem;
}

.product-variant-select {
  margin-bottom: 2rem;
  background: white;
  border: 1px solid $color-body-text;
  height: 2rem;
}

.product-qty {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid $color-body-text-light;

  &:focus {
    outline: 0;
    border: 1px solid $color-body-text;
  }
}

.product-price-wrapper {
  margin: 1rem 0;
}

.product-atc {
  border: none;
  padding: 1rem 2rem;
  color: white;
  background: $color-primary;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.15s ease-in-out;

  &:hover,
  &:focus {
    background: lighten($color-primary, 5%);
    outline: 0;
  }
}

.product-hr {
  margin: 1rem 0;
  border: none;
  height: 1px;
  display: block;
  background: $color-body-text;
}

.product-description {
  p {
    font-weight: 400;
  }
}
