.search-page {
  &__title {
    margin: 4rem auto 2rem;
    text-align: center;
  }

  &__form {
    margin: 0 auto 3rem;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    input[type="search"] {
      padding: 0.5rem;
      border: none;
      box-shadow: inset 0 0 0 1px $color-primary;
      -webkit-appearance: none;

      &:focus {
        outline: 0;
        box-shadow: inset 0 0 0 2px $color-primary;
      }
    }

    .button {
      background: $color-primary;
      padding: 0.5rem 0.5rem;
      svg {
        fill: white;
      }
    }
  }
}

.search-results-grid {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-flow: row wrap;
  list-style: none;
}
.search-results-grid-item {
  padding: 1rem;
  max-width: calc(25% - 1rem);
  flex: 1 1 calc(25% - 1rem);
  text-align: center;

  &__link {
    text-decoration: none;
    color: $color-body-text;
  }
}
